// FONTS
$global-font: 'Borel';

// COLORS
$white-color                : #fff;
$antique-white-color        : rgb(250, 235, 214);
$black-color                : #000;
$cream-white-color          : rgb(248, 246, 233);
$red-color                  : rgb(188, 4, 5); /* titles and navbar */
$bright-terracotta-color    : #ed9b40;
$steel-blue-color           : #4e89ae;
$charcoal-grey-color        : #313638;

// BACKGRAUND COLORS
$primary-bg-color   : $white-color;
$secondary-bg-color : $cream-white-color;

// NAVBAR
$navbar-bg-color: $antique-white-color;

// TITLE/SUBTITLES COLORS
$titles-subtitles-color: $red-color;

// BUTTONS
$btn-primary-color  : $bright-terracotta-color;
$btn-secondary-color: $cream-white-color;

// FEATURES
$feature-icon-color: $steel-blue-color;

// FOOTER
$footer-bg-color    : $charcoal-grey-color;
$footer-txt-color   : $white-color;

// OTHER COLORS
$secondary-color: $red-color;
$accent-color   : $bright-terracotta-color;
$icons-color    : $black-color;