:root {
    --footer-color: #313638;
}

footer {
    background-color: var(--footer-color);
    /* color           : var(--primary-background-color); */
    color           : #ffffff;
    padding         : 60px 0 30px;
}