:root {
    --secondary-background-color: rgb(248, 246, 233);
  }

#contact_form_container {
    background-color: var(--secondary-background-color);
    padding         : 25px;
    width           : 100%;
}
  
#contact_form {
    display     : flex;
    flex-wrap   : wrap; /* Permite que los elementos se ajusten en varias líneas */
}