@use '../../styles/global/variables' as *;

.contact_form_container {
    background: $secondary-bg-color;
    margin-top      : 75px;
    padding         : 25px;
    width           : 100%;
    
    #contact_form {
        display     : flex;
        flex-wrap   : wrap; /* Permite que los elementos se ajusten en varias líneas */
    }
}
  