@use './styles/global/variables' as *;

@use './styles/button';
@use './styles/title';
@use './styles/subtitle';

body {
  font-family : $global-font;
  // margin-top  : 57px;
  margin: 0; // Importante: resetear márgenes
  padding: 0;
}

